@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


.principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 6fr);
    height: 100vh;
    width: 100vw;
    background-color: black;
    align-content: center;
}
.titulo{
    font-size: 6rem;
    cursor: pointer;
    width: 3em;
    margin: 0;
    margin-top: 15px;
    text-align: left;
}

.primero{
    grid-column: 1/2;
    justify-self: center;
    grid-row: 3/4;
}
.segundo{
    grid-column: 1/2;
    justify-self: center;
    grid-row: 4/5;
}
.tercero{
    grid-column: 1/2;
    justify-self: center;
    grid-row: 5/6;
}


.hola::after{
 content:"Hola";
 color: white;
}
.hola:hover::after{
    content: "About";

}
.soy::after{
content: "Soy";
color: #FF2800;
}
.soy:hover::after{
content: "Proyectos";
}
.samuel::after{
content: "Samuel";
color: #FF2800;
}
.samuel:hover::after{
    content: "Contacto";
}
.tap-indication{
    display: none;
}

.about{
	color: #ffffff;
}

.proyect{
 color: #FF2800;
}

.contact{
	color: #FF2800;
}


/*------------------- imagenes y animaciones  -------------*/
.imagen{
    grid-column: 2/3;
    grid-row: 1/7;
    background-image: url(../assets/IMG_2154-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-fill-mode: backwards;


    -webkit-animation:imagen 1.2s cubic-bezier(.5, .6, .6, 1);
	-moz-animation:imagen 1.2s cubic-bezier(.5, .6, .6, 1);
	animation:imagen 1.2s cubic-bezier(.5, .6, .6, 1);	
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
}

@-webkit-keyframes imagen {
	0% {opacity: 0;transform: scale(1.1);}
	100% {opacity: 1;transform: scale(1);}	
}

@keyframes imagen {
	0% {opacity: 0;transform: scale(1.1);}
	100% {opacity: 1;transform: scale(1);}	
}



    .seccion-titulo {
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
    .seccion-titulo:hover {
	margin-left: 40px;
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
}
.seccion-titulo:hover {
	margin-left: -40px;
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
}

.animate {
	-webkit-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-moz-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
}
@-webkit-keyframes animate {
	0% {opacity: 0;-webkit-transform: translateY(100%);}
	100% {opacity: 1;-webkit-transform: translateY(0%);}	
}

@keyframes animate {
	0% {opacity: 0;transform: translateY(30vh);} /* WORK ON THISSS! */
/* 	0% {transform: translateY(100%);} */
	100% {opacity: 1;transform: translateY(0%);}	
}

.delay02 { -webkit-animation-delay: .2s; animation-delay: .2s;}
.delay04 { -webkit-animation-delay: .4s; animation-delay: .4s;}
.delay06 { -webkit-animation-delay: .6s; animation-delay: .6s;}
.delay08 { -webkit-animation-delay: .8s; animation-delay: .8s;}
.delay10 { -webkit-animation-delay: 1s; animation-delay: 1s;}
.delay12 { -webkit-animation-delay: 1.2s; animation-delay: 1.2s;}




/*--------------------------------- media --------------*/
@media screen and (min-width: 768px) {
	.hide-element-mobile {
		display: none;
	}

}

@media screen and (max-width: 769px) {
	.hidde-web{
		display: none;
	}
	
	.tap-indication {
        display: block;
	    text-align: center;
		width: 100%;
		font-family:"Medium";
		color: #ffffff;
		position: fixed;
		bottom: 4%;
		font-size: 0.6em; /* general fallback */
	    font-size: 3.6vm; /* IE9 fallback */
	    font-size: 3.6vmin;
		animation: bounce 1s infinite alternate;
		
		-webkit-animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
		-moz-animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
		animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;	
	}
	@keyframes bounce {
	  from {
	    transform: translateY(0px);
	  }
	  to {
	    transform: translateY(-8px);
	  }
	}
	@-webkit-keyframes bounce {
	  from {
	    transform: translateY(0px);
	  }
	  to {
	    transform: translateY(-8px);
	  }
	}

    .principal{
        box-sizing: border-box;
    }
    .titulo{
        font-size: 1.6rem;
        margin-top: 15px;
        text-align: left;
    }
    

    
}



